nav {
  background-color: black;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content:space-between ;
  align-items: center;
  
}


nav ul li{
  display: inline;
  padding: auto;
  background-color:black ;
}

ul li a {
  display: inline-flexbox;
  padding: 16px 16px;
  
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  transition: background-color 0.3s ease;
  
}

ul{
  padding: 0;
}

ul li :hover{
  background-color: yellow;
  
}

div.container {
  display: inline-block;
  flex-wrap: wrap;  
  gap : 10px;
  padding: 10px;
  
}



div.container div.column{
  flex: 1;
  max-width: calc(30% - 10px);
  flex-wrap: wrap;
  float: left;
  text-align: center;
  background-color: lightgray;
  margin: 10px;
}

div.container div.column p button{
  display: block;
  margin: 0 auto;
  background-color: black;
  color: aliceblue;
  width: 100%;
}

div.container div.column div.card{
  width: 96.5%;
  justify-content: space-between;
}

div.container div.column div.card img{
  width: 100%;
  height: 100%;
  margin: 0 2.5%;
}


.footer {
  width: 100%;
  position: absolute;
  margin-bottom: 0%;
  background-color: darkkhaki;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}